.navbar-brand{
  color: whitesmoke !important;
}

/* default hidden */
.theme-menu {
  display: none;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

/* when Bootstrap opens it */
.dropdown.show .theme-menu,
.theme-menu.show {
  display: flex !important; /* only visible when open */
}

.text-muted{
  color: rgba(186, 179, 169, 0.482) !important;
}

.theme-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.theme-circle:hover {
  transform: scale(1.2);
}

.navbar{
    background-color: var(--sidebar-bg);

}

.dropdown-menu {
  position: absolute !important;
  background-color: #031111ff !important;
  border: none !important;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3) !important;
  margin-top: 5px !important; /* little spacing */
  left: auto !important;
  right: 0 !important; /* align to right if you want */
}

.dropdown-item {
  color: #fff !important;
  transition: background 0.3s ease;
}

.dropdown-item:hover {
  background-color: #274343 !important; /* hover color like sidebar */
}

.nav-animated {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(250, 249, 249);
}

.navbar-nav {

    --bs-nav-link-hover-color: aliceblue;

}

.nav-animated::after {
  content: "";
  position: absolute;
  color: white !important;
  left: 0;
  bottom: -3px; /* adjust distance from text */
  width: 0;
  height: 2px;
  background: white; /* underline color */
  transition: width 0.3s ease;
}

.nav-animated:hover::after {
  width: 100%;
}

/* Keep underline on active NavLink */
.nav-animated.active::after {
  width: 100%;
}

.sidebar::-webkit-scrollbar {
  width: 3px; /* adjust thickness */
}

.sidebar::-webkit-scrollbar-track {
  background: var(--main-bg); /* track color */
}
.sidebar::-webkit-scrollbar-thumb {
  background: var(--sidebar-thumb, #555);
  border-radius: 4px;
}


.sidebar {
  background-color: var(--sidebar-bg);
  color: rgb(185, 186, 190);
  width: 270px;
  overflow-y: auto;
  position: fixed;
  top: 0;  
  bottom: 0;
  left: 0;
  padding-top: 5rem;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  overflow-x: hidden;
}
.sidebar.offcanvas {
  transition: none !important;
}

.sidebar-content {
  padding-top: 1rem;
}

.note-item:hover {
  background-color: #274343 !important;
  transition: background-color 0.2s;
  cursor: pointer;
}

.active-note {
  background: linear-gradient(135deg, #27222f, #3e3e55);
  border-color: #0f0d12;
}

@media (min-width: 992px) {
  .main-content {
    margin-left: 140px; 
    padding: 1rem;
    padding-top: 2rem;
  }
}

.navbar {
  z-index: 2000; 
}
@media (max-width: 991px) {
  .sidebar {
    position: fixed;
    top: 0;
    z-index: 1050;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding-top: 5rem;
  }

  .theme-circle {
  width: 10px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.2s ease;
}
  .navbar-expand-lg{
    padding-left: 0rem !important;
    padding-right: 1rem !important;
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .main-content {
    padding-left: 0.4rem;
    padding-top: 2rem !important;
  }
}

/* Shrink brand text on mobile */
@media (max-width: 768px) {
  .brand-text {
    font-size: 1rem;   /* smaller logo text */
  }
    .theme-circle {
    width: 20px;
    height: 20px;
    } 

  .navbar-links .nav-link {
    font-size: 0.7rem; /* slightly smaller links */
  }

  .navbar-nav {
    gap: 0.3rem; /* keep links close */
  }

  
}

