.notes-wrapper {
  padding-left: 150px;
  padding-right: 15px;
  padding-top: 1.5rem !important;
  color: white;
  box-sizing: border-box;
  transition: padding 0.3s ease-in-out;
}

/* For small screens (mobile), reset padding */
@media (max-width: 991px) {
  .notes-wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 4rem !important;
    padding-bottom: 4rem;
  }
}


.empty-notes {
  color: white;
  padding-top: 5rem;
}
